body {
    font-family: "filson-soft", sans-serif;
}

h1 {
    color: #F3EFE6;
    font-size: 6rem;
    font-weight: 400;
}

h2 {
    font-weight: 200;
    font-size: 6rem;
}

.italic {
    font-style: italic;
}

.blue {
    color: #6eb9bb;
}

a:link,
a:visited {
    text-decoration: none;
    color: #F3EFE6;
    font-weight: 200;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
}

a:hover {
    color: #6eb9bb;
    transform: translateX(-10rem);
}